<div class="accordion m-3" *ngIf="this.model.parameters!==undefined">
    <div class="card">
      <div class="card-header" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <h5 class="mb-0">
            1 - Input
          <button class="btn btn-link pt-0 pb-0 float-right"  type="button" >
          </button>
        </h5>
        
      </div>
  
      <div #trainigseries id="collapseOne" class="collapse show" aria-labelledby="headingOne" >
        <div class="card-body p-2 pl-5 pr-5">
            <app-config-training></app-config-training>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <h5 class="mb-0">
            2 - Learner
          <button class="btn btn-link pt-0 pb-0 float-right"  type="button">
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" >
        <div class="card-body p-2 pl-5 pr-5">
          <app-config-model></app-config-model>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        <h5 class="mb-0">
            3 - Preferences
          <button class="btn btn-link pt-0 pb-0 float-right" type="button">
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" >
        <div class="card-body p-2 pl-5 pr-5">
          <app-config-preferences></app-config-preferences>
        </div>
      </div>
    </div>
  </div>
  