
<!--<div class="page-header border-bottom mb-3">
  <div class="d-flex">
        <div class="mr-auto p-2">
            <ul class="nav nav-pills nav-fill" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" routerLink="/modeling"  data-toggle="pill" role="tab">Modeling</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/similarity" data-toggle="pill" role="tab">Similarity</a>
                </li>
            </ul>
        </div>
        <div class="p-2">
            <!--<a target="_blank">
                <img [src]="imageSource" data-holder-rendered="true" height="40"/>
            </a>
        </div>
    </div>
</div>-->



<div class="row h-100">
  <div class="col-2 ml-10 sidebar pr-0">
      <app-sidebar></app-sidebar>
  </div>
  <!-- Main content -->
  <div class="col-10 main">
     <router-outlet></router-outlet>
  </div>
</div>
<!--<div class="tab-content" id="myTabContent">
 
   <router-outlet></router-outlet>

</div>-->