
<!--Input type-->
<div class="form-row">
  <div class="form-group col-md-4">
    <label class="bmd-label-static" for="input_type">Input type</label>
    <select id="key" class="form-control" [(ngModel)]="this.model.parameters['input_type'].value">
      <option *ngFor="let value of this.model.parameters['input_type'].options">{{value}}</option>
    </select>
  </div>
  <div class="form-group col-md-4" *ngIf="this.model.parameters['input_type'].value=='model_ensemble'">
    <ng-multiselect-dropdown
      [placeholder]="'select models'"
      [data]="this.model.trained_models.sort()"
      [(ngModel)]="selectedItems"
      [settings]="dropdownSettings"
      (onSelect)="saveModelsSelected()"
      (onDeSelect)="saveModelsSelected()"
    >
    </ng-multiselect-dropdown>
  </div>
</div>



<div class="form-row">
  <div *ngFor="let key of infoSeries[this.model.parameters['input_type'].value]" class="form-group col-md-4 mb-4 is-filled">
    <div *ngIf="this.model.parameters[key].writable" style="margin-top: 11px;">
      <label class="bmd-label-static" for="key" style="margin-top: 11px;">{{key.replace('_',' ')}}</label>
        <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='int'" id="key" type='number'  >
        <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='float'" id="key" type='number' step=0.01 >
        <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='string'" id="key" type='text'>
        <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='list'" id="key" type='text'>
    </div>
    <div class="checkbox" *ngIf="!this.model.parameters[key].writable && this.model.parameters[key].object_type==='boolean'">
      <label>
        <input  type="checkbox" [(ngModel)]="this.model.parameters[key].value">
        {{key.replace('_',' ')}}
      </label>
    </div>  
    <div *ngIf="!this.model.parameters[key].writable && this.model.parameters[key].object_type!='list' && this.model.parameters[key].object_type!='boolean'">
      <label class="bmd-label-static" for="key">{{key.replace('_',' ')}}</label>
      <select id="key" class="form-control" [(ngModel)]="this.model.parameters[key].value"> 
        <option *ngFor="let value of this.model.parameters[key].options" [value]='value'>
          <div *ngIf="value==null">
            --none--
          </div>
          <div *ngIf="value!=null">
            {{value}}
          </div>   
        </option>
      </select>
    </div>
    <div class="checkbox mt-3" *ngIf="!this.model.parameters[key].writable && this.model.parameters[key].object_type==='list'">
      <label id="key" class="bmd-label-static mb-2 p-0">{{key.replace('_',' ')}}</label>
      <label id="key" class="mr-2 mb-2 w-100" *ngFor="let value of this.model.parameters[key].options">
        <input id="key" type="checkbox"
              [(checklist)]="this.model.parameters[key].value"
              [checklistValue]="value" />
            {{value}}
      </label>
    </div>
    <small id="key" class="text-muted">
      {{this.model.parameters[key].description}}
    </small>
    <!--<span class="bmd-help">{{this.model.parameters['computeMD_method'].description}}</span>--> 
  </div>
</div>