a:hover {

    background: #E7E7E7;
}

a.active {
    background: #EBAB39;
    border-bottom: 2px solid #0076a3;
}
a {
    background:#22577a;
    color: #f7f9ea;
    border-bottom: 2px solid #0076a3;
}
.wrap {
    cursor:not-allowed;
}
a.disabled{
    background:#22577a;
    pointer-events: none;
    color: #f7f9ea; 
}