<div class="form-row">
  <div *ngFor="let key of infoPreferences" class="form-group col-md-4">
    <div *ngIf="this.model.parameters[key].writable" style="margin-top: 11px;">
        <label class="bmd-label-floating" for="key" style="margin-top: 11px;">{{key.replace('_',' ')}}</label>
          <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='int'" id="key" type='number' placeholder="{{key}}" >
          <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='float'" id="key" type='number' placeholder="{{key}}" step=0.01 >
          <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='string'" id="key" type='text' placeholder="{{key.replace('_',' ')}}">
          <input class="form-control" [(ngModel)]="this.model.parameters[key].value" *ngIf="this.model.parameters[key].object_type==='list'" id="key" type='text' placeholder="{{key.replace('_',' ')}}">
      </div>
      <div class="checkbox" *ngIf="!this.model.parameters[key].writable && this.model.parameters[key].object_type==='boolean'">
        <label>
          <input  type="checkbox" [(ngModel)]="this.model.parameters[key].value">
          {{key.replace('_',' ')}}
        </label>
      </div>  
      <div *ngIf="!this.model.parameters[key].writable && this.model.parameters[key].object_type!='list' && this.model.parameters[key].object_type!='boolean'">
        <label class="bmd-label-floating" for="key">{{key.replace('_',' ')}}</label>
        <select id="key" class="form-control" [(ngModel)]="this.model.parameters[key].value">
          <option *ngFor="let value of this.model.parameters[key].options" [value]='value'>
            <div *ngIf="value==null">
              --none--
            </div>
            <div *ngIf="value!=null">
              {{value}}
            </div>   
          </option>
        </select>
      </div>
      <div class="checkbox mt-3" *ngIf="!this.model.parameters[key].writable && this.model.parameters[key].object_type==='list' ">
        <label id="key" class="bmd-label-floating mb-2 p-0">{{key.replace('_',' ')}}</label>
        <label id="key" class="mr-2 mb-2 w-100" *ngFor="let value of this.model.parameters[key].options">
          <input id="key" type="checkbox"
                [(checklist)]="this.model.parameters[key].value"
                [checklistValue]="value" />
              {{value}}
        </label>
      </div>
      <small id="key" class="text-muted">
        {{this.model.parameters[key].description}}
      </small>
  </div>
</div>
